extends tmplayout

block content 
    h1 MONGODB Exercise
    section(class="insert")
        h3 Insert Data
        form(action="/post/edit/update" method="post")
            div(class="input")
                label(for="title") Title
                input(type="text" id="title" name="title")
            div(class="input")
                label(for="author") Topic
                input(type="text" id="author" name="author")
            div(class="input")
                label(for="category") text
                input(type="text" id="category" name="category")
            div
                button(type="submit") Insert