extends ./layout.pug
block content
    div(class="container")
        h1(class="mt-4") Dashboard
        p(class="lead mb-3") Welcome 
            if (name)
                =name
        hr
        a(href="/books") show books
        br
        a(href="/users/logout" class="btn btn-secondary") Logout